* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-color: black;
}

@font-face {
  font-family: "Podium";
  src: url("../font/Fontspring-DEMO-podiumsharp-1.12.woff2") format("woff2"),
    url("../font/Fontspring-DEMO-podiumsharp-1.12.woff") format("woff");
}
